 <head>
	<meta name="apple-mobile-web-app-title" content="Tendon Messenger">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta property="og:url" content="https://tendon-app.herokuapp.com/" />
	<meta property="og:type" content="video" />
	<meta property="og:title" content="Tendon Messanger" />
	<meta property="og:description"
		content="Hippa complient messanger." />
	<meta property="og:image"
		content="https://tendon-app.herokuapp.com/img/tendon_logo.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
	
	<base href="/">
	<link rel="apple-touch-icon" href="https://tendon-app.herokuapp.com/img/tendon_logo.svg">
	<link rel="apple-touch-startup-image" href="https://tendon-app.herokuapp.com/img/tendon_logo.svg">
	<link rel="shortcut icon" href="https://tendon-app.herokuapp.com/img/tendon_logo.svg">
	<link rel="icon" type="image/gif" href="https://tendon-app.herokuapp.com/img/tendon_logo.svg">
</head>
<body ng-app="tendon" layout="column">
	  <div id="mainContent" ui-view class="container-fluid"></div>
</body>
