<div class="panel panel-default">
<div class="panel-heading">
	<h2>Edit Setting</h2>
</div>
<div class="panel-body">
	<form class="form" id="settingDetailsForm" name="settingDetailsForm" role="form">
	  	<div class="form-group" style="margin-bottom: 25px">
	  			<label for="email">Name:</label>
	        <input class="form-control" id="name" name="name" placeholder="name" type="text" value=""
	        ng-model="settingDetails.setting.name" aria-label="name" required>
	    </div>
	    <div class="form-group" style="margin-bottom: 25px">
	        <label for="email">Value:</label>
	        <input class="form-control" id="setting-value" name="value" placeholder="value" type="text" value=""
	        ng-model="settingDetails.setting.value" aria-label="value" required>
	    </div>
	    <div class="form-group" style="margin-bottom: 25px">
	        <label for="email">Type:</label>
	        <input class="form-control" id="setting-type" name="type" placeholder="type" type="text" value=""
	        ng-model="settingDetails.setting.type" aria-label="type" required>
	    </div>
	    <div class="form-group" style="margin-bottom: 25px">
	        <label for="email">Description:</label>
	        <input class="form-control" id="setting-description" name="description" placeholder="description" type="description"
	        ng-model="settingDetails.setting.description" aria-label="description" required>
	    </div>
	    <div class="form-group">
	    	<div class="controls">
		    	<button style="margin:1em" id="btn-settingsCancel" type="button" class="btn btn-warning pull-right"
	        	ui-sref="settings()" aria-label="cancel"><i class="glyphicon glyphicon-remove" style="margin-right:.25em"></i>Cancel</button>
					<button style="margin:1em" id="btn-settingDetails" type="button" class="btn btn-success pull-right"
	        	ng-click="settingDetails.save()" aria-label="addNewSetting" ng-disabled="settingDetailsForm.$invalid"><i class="glyphicon glyphicon-ok" style="margin-right:.25em"></i>Save</button>
	    	</div>
	    </div>
	</form>
</div>
</div>