<ul class="list-group" id="profileList">
		<li class="list-group-item" ng-repeat="profile in profilesList.profiles" ng-show="profilesList.notMe(profile)">
	    <div class="row">
			    <div class="col-xs-9 col-sm-10" ng-click="profilesList.openMessenger(profile)">
			      <div>
			      	<span class="jobname" ng-show="profile.job.name">{{profile.job.name}} - </span>
			      	<span class="username">{{profile.firstName}} {{profile.lastName}}</span>
			      </div>
			    </div>
		      <div class="col-xs-3 col-sm-2">
		      	<div class="btn btn-warning pull-right" ui-sref="profileDetails({ profileId: profile._id })">
			      	<i class="glyphicon glyphicon-edit"></i>
			      </div>
			      <!-- 
			      <div class="btn btn-danger pull-right" ng-click="profilesList.removeProfile(profile)">
			      	<i class="glyphicon glyphicon-trash"></i>
			      </div>
			      -->
		      </div>
	    </div>
	  </li>
</ul>