<leaf-pane title="{{messagesList.profileMeta.name}}">
<ul class="list-group" id="messagesList">
  <li class="list-group-item message" 
		  ng-repeat="message in messagesList.messages | reverse" 
		  ng-show="message.created && messagesList.hippaCompliant(message.created)" 
		  ng-class="{'text-right  message-right' : message.owner === currentUser._id, 'text-left message-left' : message.owner !== currentUser._id}"
		  >
		  	<div class="messageMeta" ng-show="message.recipient === currentUser._id">{{messagesList.profileMeta.job}} {{messagesList.profileMeta.name}}</div>
      	<div class="messageMeta" ng-show="message.owner === currentUser._id">Me</div>
      	<div class="messageMeta"><small>{{message.created | date:'medium'}}</small></div>
      	<div class="row">
	      	<div class="col-xs-2 avatar" ng-show="message.owner === currentUser._id"></div>
	      	<pre class="col-xs-10">{{message.body}}</pre>
	      	<div class="col-xs-2 avatar" ng-show="message.owner !== currentUser._id"></div>
      	</div>
	</li>
	<li class="list-group-item message"><a id="bottom"></a></li>
</ul>
<div id="inputContainer" class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<add-new-message-bar></add-new-message-bar>
	</div>
</div>
</leaf-pane>