#messagesList {
	margin-bottom:50px;
	
	.message {
		.messageMeta{
			margin-left: 1em !important;
			margin-right: 1em !important;
		}
	}
	
	.avatar {
		border-radius:100%;
	}
	
	.message-left {
		background-color:#fae8e8;
	}
	.message-right {
	}
	
	.navbar-fixed-bottom {
		height:50px;
	}
	pre {
		box-shadow: 2px 1px 7px #aaaaaa;
		text-align:left;
	}
}

#inputContainer {
	.container {
		padding: 0px;
	}
}
