<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Application Settings<div class="pull-right"><button class="btn btn-info"><i class="glyphicon glyphicon-plus" ui-sref="settingsAdd()"></i></button></div></h2>
	</div>
	<div class="panel-body">
		<table class="table" id="settingsList">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Value</th>
		      <th>Type</th>
		      <th>Description</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="setting in settingsList.settings" >
		      <td>{{setting.name}}</td>
		      <td>{{setting.value}}</td>
		      <td>{{setting.type}}</td>
		      <td>{{setting.description}}</td>
		      <td>
					<div class="btn btn-warning pull-right" ui-sref="settingDetails({ settingId: setting._id })">
		     		<i class="glyphicon glyphicon-edit"></i>
		      </div>
				</td>
		      
		    </tr>
		  </tbody>
		</table>
	</div>
</div>