body {
    background-color: rgba(245, 245, 245, 100);
    //padding-top: 50px;
    
    .container-fluid {
		  margin-right: auto;
		  margin-left: auto;
		  max-width: 600px;
		}
		
		#mainContent {
			padding:0px;
		}
		
		.logo_wrapper{
	    width:70vw;
    	height:30vw;
		  max-width:500px;
		  min-height:200px;
		  max-height:300px;
	    background-image: url("https://tendon-app.herokuapp.com/img/tendon_logo.svg");
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: cover;
		  margin-left:auto;
		  margin-right:auto;
	  }
  
    .navbar {
      background-color: white;
      color:red;
      font-weight:bold;
      height:50px;
      margin-bottom:0px;
    }
    .nav-btn {
    	margin-top:8px;
    }
    .navbar li {
    	list-style-type:none
    }
    .navbar-brand{
	    color:red !imiportant;
    }
    .navbar-header {
    	width:100%;
    }
    .toastContainer {
			position:fixed;
			top:80px;
			right:0px;
			.toast {
				z-index: 99;
				right:0px;
			}
		}
		select {
			margin-left:1em;
			width:100px;
		}
		pre {
    white-space: pre-wrap !important;       /* CSS 3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap !important;      /* Opera 4-6 */
    white-space: -o-pre-wrap !important;    /* Opera 7 */
    word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
    word-break: normal !important;
    font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif;
		}
}