<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Register Account</h2>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" id="registerForm" name="registerForm" role="form">
		  	<div class="input-group" style="margin-bottom: 25px">
		        <span class="input-group-addon">
		        	<i class="glyphicon glyphicon-user"></i>
		        </span> 
		        <input class="form-control" id="firstName" name="firstName" placeholder="first name" type="text" value=""
		        ng-model="register.credentials.firstName" aria-label="firstName" required>
		        <input class="form-control" id="lastName" name="lastName" placeholder="last name" type="text" value=""
		        ng-model="register.credentials.lastName" aria-label="lastName" required>
		    </div>
		    <div class="input-group" style="margin-bottom: 25px">
		        <span class="input-group-addon">
		        	<i class="glyphicon glyphicon-envelope"></i>
		        </span> 
		        <input class="form-control" id="login-email" name="email" placeholder="email" type="text" value=""
		        ng-model="register.credentials.email" aria-label="email" required>
		    </div>
		    <div class="input-group" style="margin-bottom: 25px">
		        <label for="mySelect">Job Title:</label>
				    <select name="mySelect" id="mySelect"
				      ng-options="option.name for option in register.jobs.availableOptions track by option.id"
				      ng-model="register.jobs.selectedOption" required></select>
		    </div>
		    <div class="input-group" style="margin-bottom: 25px">
		        <span class="input-group-addon">
		        	<i class="glyphicon glyphicon-lock"></i>
		        </span> 
		        <input class="form-control" id="login-password" name="password" placeholder="password" type="password"
		        ng-model="register.credentials.password" aria-label="password" required>
		    </div>
		    <div class="form-group" style="margin-top:10px" >
		        <div class="col-sm-12 controls">
							<button id="btn-register" type="button" class="btn btn-success pull-right"
		            ng-click="register.register()" aria-label="login" ng-disabled="registerForm.$invalid"><i class="icon-hand-right"></i>Register</button>
		        </div>
		    </div>
		    <div>
			    <div type="button" ng-repeat="alert in register.alerts" ng-click="register.closeAlert($index)"
			    	class="btn toast" ng-class="alert.type" style="color:white" role="alert"><p>{{alert.msg}}</p>
			    	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </div>
		    </div>
		</form>
	</div>
</div>