<leaf-pane title="Profile">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Manage Profile</h2>
		</div>
		<div class="panel-body">
			<form class="form" id="profileDetailForm" name="resetForm" role="form">
			    <div class="input-group" style="margin-bottom: 25px">
			        <span class="input-group-addon">
			        	<i class="glyphicon glyphicon-user"></i>
			        </span> 
			        <input class="form-control" id="firstName" name="firstName" placeholder="first name" type="text" value=""
			        ng-model="profileDetail.profile.firstName" aria-label="firstName" required>
			        <input class="form-control" id="lastName" name="lastName" placeholder="last name" type="text" value=""
			        ng-model="profileDetail.profile.lastName" aria-label="lastName" required>
			    </div>
			    <div class="input-group" style="margin-bottom: 25px">
			        <label for="mySelect">Job Title:</label>
					    <select name="mySelect" id="mySelect"
					      ng-options="option.name for option in profileDetail.jobs.availableOptions track by option.id"
					      ng-model="profileDetail.profile.job" required></select>
			    </div>
			    <div class="form-group">
			        <div class="controls">
			        	<button style="margin:1em" class="btn btn-warning pull-right" ui-sref="appview()"><i class="glyphicon glyphicon-remove" style="margin-right:.25em"></i>Cancel</button>
								<button style="margin:1em" id="btn-profileDetail" type="button" class="btn btn-success pull-right"
			            ng-click="profileDetail.save()" aria-label="login" ng-disabled="profileDetailForm.$invalid"><i class="glyphicon glyphicon-ok" style="margin-right:.25em"></i>Save</button>
			        </div>
			    </div>
			    <div>
				    <div type="button" ng-repeat="alert in profileDetail.alerts" ng-click="profileDetail.closeAlert($index)"
				    	class="btn toast" ng-class="alert.type" style="color:white" role="alert"><p>{{alert.msg}}</p>
				    	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    </div>
			    </div>
			</form>
		</div>
	</div>
</leaf-pane>