<div class="text-center">
  <div class="logo_wrapper"></div>
  <h4>SIGN IN TO YOUR ACCOUNT</h4>
</div>
<form class="form" id="loginForm" name="loginForm" role="form">
    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon">
        	<i class="glyphicon glyphicon-envelope"></i>
        </span> 
        <input class="form-control" id="login-username" name="email" placeholder="email" type="text" value=""
        ng-model="login.credentials.email" aria-label="email" required>
    </div>
    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon">
        	<i class="glyphicon glyphicon-lock"></i>
        </span> 
        <input class="form-control" id="login-password" name="password" placeholder="password" type="password"
        ng-model="login.credentials.password" aria-label="password" required>
    </div>
    <div ng-show="login.error" class="text-danger">
	      <p>{{ login.error.message }}</p>
    </div>
    <div class="form-group" style="margin-top:10px">
        <div class="col-sm-12 controls">
            <a class="text-danger pull-left" href="/resetpw">Forgot password?</a>
            <a class="btn btn-success pull-right" id="btn-login" 
            ng-click="login.login()" ng-disabled="loginForm.$invalid">Login</a>
        </div>
    </div>
</form>
