<ul class="list-group" id="chatsList">
  <li class="list-group-item chat"
		  ng-repeat="chat in chatsList.chats | reverse"
		  ng-click="chatsList.openChat(chat)"
		  >
		  	<div class="chatMetaTitle">{{ chatsList.others(chat)}}</div>
      	<div class="chatMetaDate"><small>{{chat.created | date:'medium'}}</small></div>
	</li>
</ul>