<div class="panel panel-default">
<div class="panel-heading">
	<h2>Add New Setting</h2>
</div>
<div class="panel-body">
	<form class="form" id="settingsNewForm" name="settingsNewForm" role="form">
	  	<div class="form-group" style="margin-bottom: 25px">
	  			<label for="email">Name:</label>
	        <input class="form-control" id="name" name="name" placeholder="name" type="text" value=""
	        ng-model="settingsNew.newSetting.name" aria-label="name" required>
	    </div>
	    <div class="form-group" style="margin-bottom: 25px">
	        <label for="email">Value:</label>
	        <input class="form-control" id="setting-value" name="value" placeholder="value" type="text" value=""
	        ng-model="settingsNew.newSetting.value" aria-label="value" required>
	    </div>
	    <div class="form-group" style="margin-bottom: 25px">
	        <label for="email">Type:</label>
	        <input class="form-control" id="setting-type" name="type" placeholder="type" type="text" value=""
	        ng-model="settingsNew.newSetting.type" aria-label="type" required>
	    </div>
	    <div class="form-group" style="margin-bottom: 25px">
	        <label for="email">Description:</label>
	        <input class="form-control" id="setting-description" name="description" placeholder="description" type="description"
	        ng-model="settingsNew.newSetting.description" aria-label="description" required>
	    </div>
	    <div class="form-group" style="margin:10px 25px" >
	    	<div class="controls">
					<button id="btn-settingsNew" type="button" class="btn btn-success pull-right"
	        	ng-click="settingsNew.addNewSetting()" aria-label="addNewSetting" ng-disabled="settingsNewForm.$invalid"><i class="glyphicon glyphicon-plus"></i></button>
		    	<button id="btn-settingsCancel" type="button" class="btn btn-warning pull-right"
	        	ui-sref="settings()" aria-label="cancel"><i class="glyphicon glyphicon-remove"></i></button>
	    	</div>
	    </div>
	</form>
</div>
</div>