<div class="text-center">
  <div class="logo_wrapper"></div>
  <h5>ENTER YOUR EMAIL SO WE CAN SEND YOU A RESET LINK</h5>
</div>
<form class="form" id="resetForm" name="resetForm" role="form">
  <div class="input-group" style="margin-bottom: 25px">
      <span class="input-group-addon">
      	<i class="glyphicon glyphicon-user"></i>
      </span> 
      <input class="form-control" id="reset-email" name="email" placeholder="email" type="text" value=""
      ng-model="resetpw.credentials.email" aria-label="email" required>
  </div>
  <div class="form-group" style="margin-top:10px" >
      <div class="col-sm-12 controls">
          <a class="btn btn-success" href="#" id="btn-login" 
          ng-click="resetpw.reset()" ng-disabled="resetForm.$invalid">Send Email</a>
      </div>
  </div>
  <div class="form-group" style="margin-top:10px">
      <div class="col-sm-12 controls">
          <a class="btn btn-info" href="/login">Login</a>
      </div>
  </div>
  <div ng-show="resetpw.error" class="text-danger">
     <p>{{ resetpw.error.message }}</p>
  </div>
</form>
