<form class="form-horizontal" role="form">
    <div class="input-group">
        <textarea class="form-control custom-control" 
									rows="2" style="resize:none"  
	      					name="messageBody" 
	      					ng-model="addNewMessageBar.newMessage.body" 
	      					required aria-label="body">
					</textarea>
        <span ng-disabled="addNewMessageBar.newMessage.body && addNewMessageBar.newMessage.body.trim().length === 0" class="input-group-addon btn btn-primary" ng-click="addNewMessageBar.addNewMessage()">
        	<i class="glyphicon glyphicon-envelope"></i>
        </span> 
    </div>
</form>
<!-- 
<div id="newMessageBar">
	  	<div class="row">
		    <div class="control-label" for="email">{{addNewMessageBar.profile}}:</div>
		    <div class="jobname" ng-show="profile.job.name">{{profile.job.name}} - </div>
	     	<div class="username">{{profile.firstName}} {{profile.lastName}}</div>
	  	</div>
	    <div class="row">
		    <div class="col-xs-10">
		      <textarea style="width:100%" 
		      					name="messageBody" 
		      					ng-model="addNewMessageBar.newMessage.body" 
		      					required aria-label="body">
					</textarea>
		    </div>
		    <div class="col-xs-2">
		    	<button class="btn btn-success" ng-click="addNewMessageModal.addNewMessage()">
						GO
		    	</button>
		    </div>
	    </div>
</div>
 -->
