<leaf-pane title="About">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
		  <div class="logo_wrapper"></div>
		</div>
		<div class="panel-body">
			<h2>MEDIA REIGN LLC</h2>
			<p>The Tendon Messenger is a messanging app created to allow users to sercurly chat.
			The Tendon console is a portal for admins to manage users and various settings</p>
			<p>Media Reign is a media company focusing in web applications development started out of Tacoma Washington by Darrion Harris.</p>
		</div>
		<div class="panel-footer">
			Contact: <a href="mailto:mediareignllc@gmail.com" target="_top">Media Reign LLC</a>
		</div>
	</div>
</leaf-pane>