#profileList {
  .listItem{
  	.btn{
  		margin:.25em;
  	}
  }
	.username{
		font-size:1.25em;
	}
	.jobname{
		font-size:1.25em;
		font-weight:bold;
	}
	hr {
	  -moz-border-bottom-colors: none;
	  -moz-border-image: none;
	  -moz-border-left-colors: none;
	  -moz-border-right-colors: none;
	  -moz-border-top-colors: none;
	  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
	  border-style: solid none;
	  border-width: 1px 0;
	  margin: 0px 0;
	}
	background-color:white;
}